body{
    background:url(dulal_profile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

h3{
    color: red;
    font-size: 50px;
}

p{
    color: green;
}